@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300&family=Lato:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Assistant', sans-serif; */
    font-family: 'Lato', sans-serif;
}
.container{
    min-width: 360px;
    height: 100vh;
    max-height:1920px !important;
    background-color: #000;
    color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.header{
    height:10vh;
    margin-top: 1em;
}
.header i{
    font-size:3em;
    margin: 0.3em 0;
}
/*card style begin*/
.card{
    width: 90%;
    height: 13rem;
    border-radius: 1rem;
    position: absolute;
    top:15%
}
.cardBotton{
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: rgb(46, 46, 46);
    bottom: 0;
    border-radius: 0 0 1rem 1rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0 1em;
}
.cardBotton h2{
    font-weight: 400;
}
.cardTop{
    width: 100%;
    height: 70%;
    border-radius: 1rem 1rem 0 0;
    padding: 1em;
    background-color:purple;

}
.cardTop h2{
    font-weight: 300;
    font-size:1em;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin:1em auto;
    
}
.icons i{
    font-size:1.7em !important;
}
.number{
    width:90%;
    text-align: center;
    position: absolute;
    bottom:35%;
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    height:23%;
    
}
.number h3{
    font-size:1.2em;
    letter-spacing:0.15em
}
.number h4{
    font-weight: 100;
    position: absolute;
    right: 0.5em;
    bottom:0;
}
/*card style end*/
.text{
    margin: 4em 0;
    width: 90%;
    text-align: center;
    position: absolute;
    bottom: 20%;
    height:20%;
   
}
.text h1{
    font-size:1.5em;

}
.text h2{
    font-size:0.8em;
    margin-top:2.3em;
}
button{
    display: inline-block;
    width: 80%;
    border:none;
    border-radius: 2em;
    padding: 1em 0;
    justify-self: flex-end;
    position: absolute;
    bottom: 10%;
}